@import url(./bootstrap.css);
body {
  background: url(../images/bg.png);
}
#wrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 1px 3px #ddd;
  background-color: #fff;
  margin-bottom: 50px;
}
.main {
  min-height: 300px;
  padding: 30px;
  box-shadow: inset 0px 0px 15px #efefef;
  overflow: hidden;
}
.header {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.weibo {
  float: right;
  width: 200px;
  margin: 40px 0 0 0;
}
#tpl {
  display: none;
}
h1.logo {
  margin-top: 0;
  font-size: 24px;
  font-weight: normal;
  background: #f5f5f5 url(../images/logo-med.png) no-repeat 20px 23px;
  padding-left: 190px;
  padding-top: 40px;
  padding-bottom: 18px;
  font-family: 'Roboto', sans-serif;
  width: 400px;
  float: left;
  text-shadow: 0px 0px 3px #ddd;
  color: #999;
}
.mime {
  display: none;
  float: left;
  width: auto;
  padding-left: 30px;
  border-left: 1px solid #ddd;
  margin-top: 35px;
}
img.avatar {
  width: 50px;
  height: 50px;
  float: left;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #efefef;
  margin-right: 15px;
}
.info {
  float: left;
}
span.title {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}
span.location {
  color: #999;
  font-size: 12px;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 2px #f5f5f5;
}
.login,
.help {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.help h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}
.logo-font {
  font-size: 38px;
}
.logo-font span.pro {
  color: #3F66A0;
}
.help .desc {
  font-size: 20px;
  text-align: center;
  background-color: #efefef;
  padding: 12px 20px;
  margin-left: -35px;
  margin-right: -35px;
  margin-bottom: -20px;
  border-top: 1px solid #ddd;
}
.desc p {
  margin-bottom: 10px;
  line-height: 1.5;
}
.desc i.alipay-logo {
  color: #1A4F8B;
}
.demo {
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  padding: 10px;
  margin-top: 20px;
  margin-left: -30px;
  margin-right: -30px;
  position: relative;
}
.demo .thisway {
  position: absolute;
  background-color: #fff;
  color: #999;
  border: 1px solid #ddd;
  font-size: 25px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  padding: 4px;
  bottom: -25px;
  z-index: 1;
  left: 430px;
  text-align: center;
  line-height: 50px;
}
.demo-script {
  display: block;
  border: 0px;
  width: 430px;
  font-size: 12px;
  color: #444;
  background-color: #fff;
  border-right: 1px solid #ddd;
  margin-right: 20px;
  padding: 10px;
  height: 220px;
  overflow: hidden;
  float: left;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.chrome-install-index {
  background: url(../images/weibo.png) no-repeat 20px center;
  width: 220px;
  margin-bottom: -23px;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-left: 70px;
  display: block;
  box-shadow: 0px -5px 10px #dddddd;
  color: #444;
}
.chrome-install-index:hover {
  box-shadow: 0px -5px 15px #dddddd;
  color: #1A4F8B;
}
.pics {
  margin-top: 30px;
}
.pics h3 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  padding: 8px 0 12px;
}
.pics .desc {
  background-color: #444;
  box-shadow: inset 0px 0px 10px #000;
  padding-top: 20px;
  padding-bottom: 20px;
}
.pics .desc p {
  font-size: 16px;
  color: #fff;
  text-align: left;
  padding-top: 20px;
}
.pics .desc img {
  float: left;
  margin-left: 80px;
  margin-right: 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #000;
}
.real {
  float: left;
  width: 300px;
}
.real img {
  margin-top: 80px;
  margin-left: 30px;
}
.real .anypay-button {
  margin-top: 100px;
  margin-left: 100px;
}
a.login-host {
  font-size: 14px;
  background-color: #444;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
}
a.login-host:hover {
  background-color: #000000;
}
.login-alipay-host {
  float: left;
}
.login-social {
  border-left: 1px solid #ddd;
  padding-left: 20px;
  float: left;
  margin-left: 20px;
  margin-top: 40px;
}
a.login-wb {
  background: url(../images/wb.png) no-repeat center;
  display: block;
  text-indent: -9999em;
  width: 130px;
  height: 30px;
}
.login-info {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  width: 300px;
  margin: 15px auto -22px;
  box-shadow: 0px -3px 10px #dddddd;
  font-size: 14px;
  text-align: left;
}
.login-info img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  float: left;
  margin-right: 10px;
}
.login-info .name {
  font-size: 16px;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #ddd;
  padding-top: 8px;
  padding-bottom: 15px;
  margin-bottom: 8px;
}
.login-info #logOut {
  font-size: 12px;
  color: #999;
  float: right;
  clear: both;
}
.qa {
  padding-top: 20px;
}
.qa p {
  margin-bottom: 20px;
}
.qa a {
  color: red;
}
.qa .q {
  font-weight: bold;
  margin-bottom: 5px;
}
.login-hidden {
  display: none;
}
.visit-mp {
  color: #27AE60;
  font-weight: bold;
  font-size: 12px;
}
.sysc {
  padding-left: 10px;
  font-size: 12px;
  color: #999;
}
.sysc input {
  margin-right: 5px;
}
.alipay-logo {
  font-size: 24px;
  padding-left: 10px;
}
.libs {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 0px;
}
.libs .single {
  width: 400px;
  padding: 10px 15px;
  height: 100px;
  border: 1px solid #ddd;
  margin-right: 10px;
  float: left;
  margin-bottom: 10px;
}
.libs .single:hover {
  background-color: #f5f5f5;
}
.libs .single .name {
  font-size: 16px;
  color: #999;
  text-shadow: 0px 1px 2px #efefef;
}
.libs .single .alias {
  font-size: 14px;
  margin-bottom: 10px;
  color: #2980B9;
  font-weight: bold;
}
.libs .single .src a {
  color: #999;
}
.share-wb {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
